{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
<h1 class="text-center mb-4" style="font-family: 'Comic Sans MS', cursive;
color: #E9724C;">EVENTS AND PLAYDATES</h1>
<div class="row justify-content-center">
{% for event in events %}
<div class="col-md-4 mb-4">
<div class="card shadow-sm">
<img src="{{ url_for('static', filename=event.image) }}"
class="card-img-top" alt="dogs playing">
<div class="card-body text-center">
<h5 class="card-title text-uppercase" style="color:
#B83280;">Upcoming </h5>
<p><strong>Venue:</strong> {{ event.venue }}</p>
<p><strong>Date:</strong> {{ event.date }}</p>
<p><strong>Time:</strong> {{ event.time }}</p>
<form method="POST" action="{{ url_for('main.rsvp',
event_id=event.id) }}">
{{ forms[event.id].hidden_tag() }}
{{ forms[event.id].submit(class="btn btn-warning") }}
</form>
</div>
</div>
</div>
{% endfor %}
</div>
</div>
{% endblock %}
